<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<!--    <link rel="stylesheet" href="./dist/output.css">-->
<!--  OR USE CAN USE CDN  <script src="https://cdn.tailwindcss.com"></script>-->
    <script src="https://cdn.tailwindcss.com"></script>
<!--<script src="./new.js"></script>-->
</head>
<body class="blackmitnick">
   <header> <%- include('header/index'); %></header>
    <main><%- include('main/index'); %> </main>

    <footer><%- include('footer/index'); %> </footer>

</body>
</html>